schemasIN/InstrumentIdentification/2.0.xsd

<!-- 
     LXI Identification Schema Version 2.0, March 10, 2025
       Changes:
            * Made LXIDevice/LXIVersion optional to enable connected devices 
              that are not LXI devices (such as PXI and GPIB).
			* Added Rule that LXIDevices are required to have a LXIVersion now it is optional.
	LXI Identification Schema Version 2.0, October 31, 2024
       Changes:
            * Made LXIDevice/LXIVersion optional to enable connected devices 
              that are not LXI devices (such as PXI and GPIB).

    LXI Identification Schema Version 2.0, May 10, 2024
       Changes:
            * Removed "www." from namespace to be consistant with all other schemas.

    LXI Identification Schema Version 2.0, August 29, 2023
       Changes:
            * Simplifies the xsd specification while still retaining
              substantial equivalence with Version 1.0.  This facilitates use with
              current XML tools.
            * Adds optional subinstrument identification as LXIDevice/Subinstruments
            * Changed namespace to public.lxistandard.org
            * Misc comments and clarifications
 
    LXI Identification Schema Version 1.0
        Update History:
            May 24,2011 - Corrected comments in the 2.00 version.  Added version number, 
                        approval date, and update history.  No functional changes.
                        Note that this schema is backward compatible, and will validate 
                        both LXI 1.3 and 1.4 identification documents
            May 18,2011 - Updated to accommodate LXI extended features, deprecate the 
                        LXIClass element.  Validates both LXI 1.3 and 1.4 identification 
                        documents.
            April 2006 - Initial version associated with the LXI 1.2 standard.
-->

<xs:schema xmlns:lxi="http://lxistandard.org/schemas/InstrumentIdentification/2.0" 
        xmlns:xs="http://www.w3.org/2001/XMLSchema" 
        targetNamespace="http://lxistandard.org/schemas/InstrumentIdentification/2.0" 
        elementFormDefault="qualified" 
        attributeFormDefault="unqualified"
        version="2.0">
        
    <xs:element name="LXIDevice" type="lxi:LXIDevice">
        <xs:annotation>
            <xs:appinfo>
            <!-- The following date should be updated whenever this schema is updated!  Including doc changes.-->
                <editorialdate>October 31, 2024</editorialdate>
            </xs:appinfo>
            <xs:documentation>
                <div>
                    <h2>LXI Instrument Identification Schema</h2>
                    <p>
                        The LXI Identification schema represents LXI device identity 
                        information, and identity information for devices that are 
                        connected to an LXI device. 
                    </p>
                </div>
            </xs:documentation> 
     </xs:annotation>
    </xs:element>

    <xs:complexType name="LXIDevice">
        <xs:annotation>
            <xs:documentation>
                <div>
                    <p>
                      The LXI Device element is the root element of the 
                      LXI Identification Schema and contains all the elements
                      that identify this LXI device.
                    </p>
                  </div>
            </xs:documentation> 
            
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Manufacturer" type="xs:string" nillable="true" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Manufacturer description, should match the manufacturer 
                        field in IEEE 488.2 identity query. "Manufacturer" field 
                        Per LXI Standard 1.6, 9.2 RULE - Welcome Web Page Display 
                        Items.
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>RULE:</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="Model" type="xs:string" nillable="true" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Instrument model designation, should match the model 
                        field in IEEE 488.2 identity query. "Model" field per 
                        LXI Standard 1.6, 9.2 RULE - Welcome Web Page Display 
                        Items.
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>RULE:</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="SerialNumber" type="xs:string" nillable="true" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Instrument serial number, should match the serial number
                        field in IEEE 488.2 identity query. "Serial Number" field 
                        per LXI Standard 1.6, 9.2 RULE - Welcome Web Page Display 
                        Items.
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>RULE:</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="FirmwareRevision" type="xs:string" nillable="true" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Instrument firmware revision, should match the firmware 
                        revision field in IEEE 488.2 identity query. "Firmware 
                        and/or Software Revision" field per LXI Standard 1.6, 9.2 
                        RULE - Welcome Web Page Display Items.
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>RULE:</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ManufacturerDescription" type="xs:string" nillable="false" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        This is the manufacturers product description such as 
                        "Acme 1234A Digital Foozywachit".
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>Optional</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="HomepageURL" type="xs:anyURI" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        This is the URL of the instrument Manufacturer.
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>Optional</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="DriverURL" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        This is the URL where users can go to acquire the 
                        latest driver
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>Optional</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ConnectedDevices" type="lxi:ConnectedDevices" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        This optional element is used by gateways to advertise 
                        information for connected devices, such as GPIB, VXI, 
                        USB, PXI, and/or Serial instruments. Per LXI Standard 
                        1.6, 10.2.4 RULE - Connected Device URLs
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>Optional</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="UserDescription" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        This is a user description for this device, for instance 
                        "the Spectrum Analyzer on the Blue Portable Cart". 
                        "Description" field per LXI Standard 1.6, 9.2 RULE - 
                        Welcome Web Page Display Items.
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>Optional</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentificationURL" type="xs:anyURI" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        This is the URL from which the instrument will source 
                        this identification XML. Per LXI Standard 1.6, 10.2 RULE 
                        - XML Identification Document URL.
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>Optional</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="Interface" type="lxi:NetworkInformation" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        <p>
                            Interface Information. 
                        </p>
                        <p>
                            RULE: At 
                            least one Interface of type "NetworkInformation" must 
                            be provided, with an InterfaceType of "LXI". 
                        </p>
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>Optional</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="IVISoftwareModuleName" type="lxi:IVISoftwareModuleName" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        This identifies the IVI driver as specified in the IVI 
                        Configuration Store Name field of the Software Module. 
                        See Section 2.5.3 IVI Session and IVI Driver Session, 
                        in IVI-3.5: Configuration Server Specification. The 
                        Comment annotation is used to describe this software 
                        module, especially where the driver supports multiple 
                        software modules, that is, instrument personalities.
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>Optional</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element  name="Subinstruments" type="lxi:Subinstruments" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <p>
                            <em>Subinstruments</em> contains identification and 
                            connection information for subinstruments that are addressable within
                            this LXI device. A <em>subinstrument</em> is distinct functionality
                            with its own control capability that resides within an LXI device
                            at a given IP address.
                        </p>
                        <p>
                            <em>Subinstruments</em> permits the client to discover:
                        </p>
                        <ul>
                            <li>the subinstruments within an LXI Device</li>
                            <li>identification information about each subinstrument</li>
                            <li>control channels available for the subinstrument via the network</li>
                        </ul>
                        <p>
                            Devices that implement subinstruments should populate the 
                            <em>Subinstrument</em> for each contained subinstrument.  
                            Devices that do not implement subinstruments should omit
                            the <em>Subinstruments</em> element.
                        </p>
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>Optional</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="Extension" type="lxi:Extension" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <em>Extension</em> contains vendor specific information used to describe the 
                        instrument.
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>Optional</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="LXIClass" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <p>
                            Deprecated in LXI version 1.4. This element indicates 
                            if this device is Class A, B, or C.
                        </p>
                        <p>
                            Subsequent to LXI version 1.4, the notion of LXI classes was
                            replaced with individual extended functions that devices
                            may comply with.   Devices use the 
                            <em>LXIDevice/LXIExtendedFunctions</em> elements to indicate
                            the extended functions they comply with.
                        </p>
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>Optional</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="A" />
                        <xs:enumeration value="B" />
                        <xs:enumeration value="C" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Domain" type="xs:unsignedByte" nillable="true" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <p>
                            The LXI domain(s) this instrument uses for LXI Event
                            Messages. Per LXI Event Messaging Extended Function, Standard 1.0, 3.3.2.1 RULE - Use 
                            of LXI Domain.
                        </p>
                        <p>
                            RULE: Devices that implement LXI Event Messaging shall include
                            this element in the LXI Instrument Identification response.
                        </p>
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>Optional</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="LXIVersion" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <p>
						    Indicates the latest version of the LXI specification 
                            this device conforms with.
						</p>
						<p>
                            RULE: All LXI Devices are required to have a LXIVersion. Only ConnectedDevices which
							are required to inherit from LXIDevice are not reuired to have a LXIVersion.
                        </p>
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>RULE:</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="LXIExtendedFunctions" type="lxi:LXIExtendedFunctions" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        LXI Extended functions used to describe extended 
                        capabilities of the instrument.
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>Optional</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="ConnectedDevices">
        <xs:annotation>
            <xs:documentation>
                <p>
                    <em>ConnectedDevices</em> contains a list of connected devices, 
                    that is, devices that are connected through the primary LXI device.
                </p>
                <p>        
                    RULE: Devices that support connected devices (e.g., bridges) shall provide 
                    base URLs for all connected devices in the ConnectedDevices element of the identification document. 
                    A base URL is defined as a URL with a “url-path” that clearly identifies the connected device and one
                    onto which a suffix path may be added to access properties of that connected device.
                    The base URL allows clients to enumerate devices connected to the bridge device.
                </p>
                <p>    
                    For example, the base URL for a connected device might be &quot;http://hostname/device0&quot; while another connected
                    device might have a base URL of &quot;http://hostname/device5&quot;.  The format and path naming conventions for these
                    connected device base URLs are left up to the vendor.
                </p>
                <p>    
                    The following is an example snippet from an identification document with connected device DeviceURI elements:
                        <ConnectedDevices>
                            <DeviceURI>http://10.1.2.60/devices/LogicalAddress/0/</DeviceURI>
                            <DeviceURI>http://10.1.2.60/devices/LogicalAddress/1/</DeviceURI>
                        </ConnectedDevices>
                </p>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="DeviceURI" type="xs:anyURI" nillable="false" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        <p>
                            URIs for connected devices represent the base URL for the connected device. 
                        </p>
                        <p>
                            RULE: Devices that support connected devices shall provide identification
                            documents that can be queried via a GET on &lt;baseURL&gt;/lxi/identification that conform
                            to the LXI XSD Schema or one derived from that Schema according to the rules of XSD inheritance.
                            The &lt;baseURL&gt; values may be found in DeviceURI elements of the ConnectedDevice element of the
                            root element of the identification document of Rule 10.2.  This rule coupled with Rule 10.2.4 allows
                            clients to enumerate (discover) and identify all connected devices.
                        </p>
                        <p>
                            RULE: The xsi:schemaLocation attribute of the root element of the identification document
                            shall contain an entry for the LXI XSD namespace with an accompanying absolute URI on the instrument
                            that shall return the actual XSD schema document from the instrument
                            (https://www.w3.org/standards/xml/schema). The W3C XSD Schema itself does not need to be available
                            via a URI on the instrument
                        </p>
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>Optional</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="NetworkInformation">
        <xs:annotation>
            <xs:documentation>
                <p>
                    The network information element has general information regarding a network device.
                </p>
                <p>
                    Separate NetworkInformation elements are required to represent IPv4 and IPv6 addresses.
                    When representing IPv6 addresses, devices should:
                        <ul>
                            <li>not include SubnetMask, Gateway, DHCPEnabled, or AutoIPEnabled</li>
                            <li>include the Hostname as configured on the device for mDNS announcements</li>
                            <li>include  MACAddress as defined below</li>
                            <li>include IPAddress elements for preferred addresses. They are expressed using dot/colon
                                format not including the CIDR prefix length. Such as &quot;fe80::2713:af27&quot;.</li>
                        </ul>
                </p>
                <p>
                    Devices may omit the InstrumentAddressString, or include a single exemplary instance.
                </p>
                <p>
                    Devices may also implement the LXI Device Specific Configuration GET API to more clearly advertise its IPv6 address.
                </p>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="InstrumentAddressString" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        <em>InstrumentAddressString</em> is a VISA-like 
                        string to help a driver or a 
                        human determine the actual address string. Consistent 
                        with the web presentation of an IVI I/O Resource 
                        Descriptor string, per LXI Standard 1.6, 9.2.1 RULE - 
                        Instrument Address String on Welcome Page. 
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>Optional</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="Hostname" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        This is the hostname used for the DNS "Hostname" field. 
                        Per LXI Standard 1.6, 9.2 RULE - Welcome Web Page 
                        Display Items.
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>Optional</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="IPAddress" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        This is the currently active IP address. This is 
                        represented as a string and can represent IPv4 or 
                        IPv6 addresses. "TCP/IP Address" field per LXI Standard 
                        1.6, 9.2 RULE - Welcome Web Page Display Items.
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>Optional</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="SubnetMask" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        The currently configured subnet mask. "Subnet mask" 
                        field per LXI Standard 1.6, 9.5 RULE - LAN Configuration 
                        Web Page Contents.
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>Optional</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="MACAddress" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        This is the MAC address of this interface. "MAC Address" 
                        field per LXI Standard 1.6, 9.2 RULE - Welcome Web Page 
                        Display Items.
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>Optional</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="Gateway" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        The IP address of the currently configured gateway. 
                        "Default Gateway" field per LXI Standard 1.6, 9.5 
                        RULE - LAN Configuration Web Page Contents.
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>Optional</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="DHCPEnabled" type="xs:boolean" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Indicates if the instrument is configured to accept 
                        configuration from DHCP, per LXI Standard 1.6, 8.6.1 
                        RULE - Options for LAN configuration.
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>Optional</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="AutoIPEnabled" type="xs:boolean" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Indicates if the instrument is configured to use AutoIP 
                        to choose an IP address, per LXI Standard 1.6, 8.6.1 
                        RULE - Options for LAN configuration.
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>Optional</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="InterfaceType" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    For LXI devices, this field must contain LXI. This may 
                    be used to designate other vendor specified interfaces 
                    (e.g., PXI, GPIB, Serial, USB, etc.). 
                </xs:documentation>
                <xs:appinfo>
                    <requirement>RULE:</requirement>
                    <lci>NA</lci>
                    <unsecureMode>NA</unsecureMode>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="InterfaceName" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    This field should contain a logical name for the 
                    interface, from the device's perspective. For 
                    example, network interfaces may be named "eth0", 
                    "eth1", etc. 
                </xs:documentation>
                <xs:appinfo>
                    <requirement>Optional</requirement>
                    <lci>NA</lci>
                    <unsecureMode>NA</unsecureMode>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="IPType" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Identifies the IP implementation as either IPv4 or IPv6.
                </xs:documentation>
                <xs:appinfo>
                    <requirement>Optional</requirement>
                    <lci>NA</lci>
                    <unsecureMode>NA</unsecureMode>
                </xs:appinfo>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="IPv4" />
                    <xs:enumeration value="IPv6" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    
    <xs:complexType name="IVISoftwareModuleName">
        <xs:annotation>
            <xs:documentation>
                <p>
                    <em>IVISoftwareModuleName</em> contains the name of
                    an IVI Software Module.
                </p>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="Comment" type="xs:string" use="optional">
                    <xs:annotation>
                       <xs:documentation>
                           <p>Contains comments regarding the IVI Software Module.</p>
                           <p>
                                <b>Deprecated:</b> The LXI consortium discourages developers from using
                                this attribute because some tools are unable to parse this 
                                construct and it is not essential to describe the instrument
                                or its IVI Software Module.
                           </p>
                       </xs:documentation> 
                       <xs:appinfo>
                            <requirement>Optional</requirement>
                            <lci>NA</lci>
                            <unsecureMode>NA</unsecureMode>
                       </xs:appinfo>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="Extension">
        <xs:annotation>
            <xs:documentation>
                <p>
                    Permits vendor dependent functions.
                </p>
                <p>
                    The <em>Extension</em> element contains a sequence
                    of arbitrary elements.
                </p>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence maxOccurs="unbounded">
            <xs:any namespace="##any" processContents="lax"></xs:any>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="LXIExtendedFunctions">
        <xs:annotation>
            <xs:documentation>
                <p>
                The <em>LXIExtendedFunctions</em> type contains a list of the 
                extended functions implemented by this device.
                </p>
                
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Function" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        <p>
                            Indicates that an LXI extended function is available, 
                            the version of the extended function implemented, and 
                            the options associated with it.
                        </p>
                        <p>
                            The <em>Function</em> element contains arbitrary elements.
                            The various LXI Extended functions specification specify the syntax 
                            used to identify each extended function.
                        </p>
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>Optional</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xs:any>
                    </xs:sequence>
                    <xs:attribute name="FunctionName" type="xs:string" use="required" />
                    <xs:attribute name="Version" type="xs:string" use="required" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    

    <xs:complexType name="Subinstruments">
        <xs:annotation>
            <xs:documentation>
                <p>
                    <em>Subinstruments</em> contains identification and 
                    connection information for subinstruments that are addressable within
                    this LXI device. A <em>subinstrument</em> is distinct functionality
                    with its own control capability that resides within an LXI device
                    at a given IP address.
                </p>
                <p>
                    <em>Subinstruments</em> permits the client to discover:
                </p>
                <ul>
                    <li>all the subinstruments within an LXI Device</li>
                    <li>identification information about each subinstrument</li>
                    <li>control channels available for the subinstrument via the network</li>
                </ul>
                <p>
                    Devices that implement subinstruments should populate the 
                    <em>Subinstrument</em> for each contained subinstrument.  
                    Devices that  do not implement subinstruments should omit
                    the <em>LXIDevice/Subinstruments</em> element.
                </p>
                <p>
                    The main (or primary) device capability is also described as one 
                    of the subinstruments in order to provide a way to indicate the 
                    control channels. However, the <em>LXIDevice/Subinstruments/Subinstrument/Identity</em>
                    element is omitted for the main subinstrument since its 
                    identity information is provided directly in elements at
                    <em>LXIDevice/(Manufacturer|Model|SerialNumber|FirmwareRevision)</em>.
                </p>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Subinstrument" type="lxi:Subinstrument" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        <p>
                            <em>Subinstrument</em> contains identification and 
                            connection information for an individual subinstrument.
                        </p>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="Subinstrument">
        <xs:annotation>
            <xs:documentation>
                <em>Subinstrument</em> contains information about an individual subinstrument.
                See the <em>lxi:Subinstruments</em> type for more information.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Identity" type="lxi:SubinstrumentIdentity" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <p>
                            Identity information about this subinstrument.  A given 
                            subinstrument may provide connections to various network channels.  Each
                            subinstrument and the channels by which it can be accessed are listed 
                            here.
                        </p>
                        <p>
                            RULE: If this subinstrument is the main instrument described in this
                            XML file then this element shall be omitted.  Note that the equivalent
                            identification information for the main instrument can be found at 
                            <em>LXIDevice/Manufacturer, LXIDevice/Model, LXIDevice/SerialNumber,</em> and
                            <em>LXIDevice/FirmwareRevision</em>.
                        </p>
                        <p>
                            RULE: If the subinstrument described is NOT the default LXI instrument
                            then this element shall be included.
                        </p>
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>Optional</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="HiSLIP" type="lxi:SubinstrumentHiSLIP" minOccurs="0" maxOccurs="1">
                <xs:annotation>

                    <xs:documentation>
                        <p>
                            Indicates the HiSLIP subaddresses that control this subinstrument.
                            If none are available, this element is omitted.
                        </p>
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>Optional</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="REST" type="lxi:SubinstrumentREST" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        <p>
                            Indicates the REST APIs that control this subinstrument.
                            If none are available, this element is omitted.
                        </p>
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>Optional</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
            </xs:annotation>
            </xs:element>
            <xs:element name="Socket" type="lxi:SubinstrumentSocket" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        <p>
                            Indicates the sockets that control this subinstrument.
                            If none are available, this element is omitted.
                        </p>
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>Optional</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
            </xs:annotation>
            </xs:element>
            <xs:element name="Telnet" type="lxi:SubinstrumentTelnet" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        <p>
                            Indicates the telnet ports that control this subinstrument.
                            If none are available, this element is omitted.
                        </p>
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>Optional</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
            </xs:annotation>
            </xs:element>
            <xs:element name="VXI11" type="lxi:SubinstrumentVXI11" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        <p>
                            Indicates the VXI channel that controls this subinstrument.
                            If none are available, this element is omitted.
                        </p>
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>Optional</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
            </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Name" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <p>
                        <em>Name</em> is the friendly name of the subinstrument.
                        It is typically displayed in tools that discover subinstruments
                        and facilitates connecting to them.
                    </p>
                </xs:documentation>
                <xs:appinfo>
                    <requirement>Optional</requirement>
                    <lci>NA</lci>
                    <unsecureMode>NA</unsecureMode>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="SubinstrumentIdentity">
        <xs:annotation>
            <xs:documentation>
                <p>
                    <em>SubinstrumentIdentity</em> contains identity information about 
                    an individual subinstrument.
                </p>
                <p>
                    The identity fields mimic the IEEE 488.2 identity query response.
                    Where the described connection supports SCPI, the element contents
                    should match the IEEE 488.2 *IDN? query response from that subinstument.
                </p>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Manufacturer2" type="xs:string" minOccurs="1" maxOccurs="1" >
                <xs:annotation>
                    <xs:documentation>
                        <p>
                            <em>Manufacturer2</em> indicates the manufacturer of this subinstrument
                        </p>
                        <p>
                            <em>Manufacturer2</em> should match the manufacturer 
                            field in IEEE 488.2 identity query for this subinstrument. 
                        </p>
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>RULE:</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="Model2" type="xs:string" minOccurs="1" maxOccurs="1" >
                <xs:annotation>
                    <xs:documentation>
                        <p>
                            <em>Model2</em> indicates the model of this subinstrument
                        </p>
                        <p>
                            <em>Model2</em> should match the model 
                            field in IEEE 488.2 identity query for this subinstrument. 
                        </p>
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>RULE:</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="SerialNumber2" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation>
                    <xs:documentation>
                        <p>
                            <em>SerialNumber2</em> indicates the serial number of
                            this subinstrument.
                        </p>
                        <p>
                            <em>SerialNumber2</em> should match the serial number 
                            field in IEEE 488.2 identity query for this subinstrument. 
                        </p>
                        <p>
                            If the described subinstrument's serial number is not distinct from
                            the main instrument's serial number, then this
                            field is omitted.
                        </p>
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>
                            RULE: <em>SerialNumber2</em> shall be included for subinstruments
                            with distinct serial numbers.
                        </requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="FirmwareRevision2" type="xs:string" minOccurs="1" maxOccurs="1" >
                <xs:annotation>
                    <xs:documentation>
                        <p>
                            <em>FirmwareRevision2</em> indcates the firmware version of this subinstrument.
                        </p>
                        <p>
                            <em>FirmwareRevision2</em> should match the version 
                            field in IEEE 488.2 identity query for this subinstrument. 
                        </p>
                    </xs:documentation>
                    <xs:appinfo>
                        <requirement>RULE:</requirement>
                        <lci>NA</lci>
                        <unsecureMode>NA</unsecureMode>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SubinstrumentHiSLIP">
        <xs:annotation>
            <xs:documentation>
                <p>
                    <em>SubinstrumentHiSLIP</em> contains information about this HiSLIP subinstrument.
                </p>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Subaddress" type="xs:string" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        <p>
                            Subaddress of this HiSLIP server. If multiple subaddresses are
                            specified, each refers to the same subinstrument.
                        </p>
                        <p>
                            RULE: If the HiSLIP element is included, there shall be at 
                            least 1 subaddress.
                        </p>
                     </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Port" type="xs:integer" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <p>
                        <em>Port</em> is the TCPIP port of this HiSLIP server.  The 
                        default is the IANA assigned port which is 4880.
                    </p>
                </xs:documentation>
                <xs:appinfo>
                    <requirement>Optional</requirement>
                    <lci>NA</lci>
                    <unsecureMode>NA</unsecureMode>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="SubinstrumentREST">
        <xs:annotation>
            <xs:documentation>
                <p>
                    <em>SubinstrumentREST</em> indicates that a REST API at the 
                    designated port may be used to control the subinstrument.
                </p>
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="Port" type="xs:integer" use="required">
            <xs:annotation>
                <xs:documentation>
                    <p>
                        <em>Port</em> is the TCPIP port of a REST API that can be used
                        to control the device.  
                    </p>
                </xs:documentation>
                <xs:appinfo>
                    <requirement>RULE:</requirement>
                    <lci>NA</lci>
                    <unsecureMode>NA</unsecureMode>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="RootURL" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <p>
                        <em>RootURL</em> is the root URL of the REST API that can be used
                        to control the device.  <em>RootURL</em> is relative to the IP Address
                        in the <em>LXIDevice/Interface/IPAddress.</em>
                    </p>
                    <p>
                        For instance if the <em>LXIDevice/Interface/IPAddress</em> is
                        192.168.0.1 and the <em>RootURL</em> attribute is <em>api/rest</em>, then
                        the API is at <em>h ttps://192.168.0.1/api/rest</em>.
                    </p>
                </xs:documentation>
                <xs:appinfo>
                    <requirement>RULE:</requirement>
                    <lci>NA</lci>
                    <unsecureMode>NA</unsecureMode>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    

    <xs:complexType name="SubinstrumentSocket">
        <xs:annotation>
            <xs:documentation>
                <p>
                    <em>SubinstrumentSocket</em> indicates that a socket connection at the 
                    designated port may be used to control the subinstrument.
                </p>
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="Port" type="xs:integer" use="required">
            <xs:annotation>
                <xs:documentation>
                    <p>
                        <em>Port</em> is the TCPIP port of a server that can be used
                        to control the device.  
                    </p>
                </xs:documentation>
                <xs:appinfo>
                    <requirement>RULE:</requirement>
                    <lci>NA</lci>
                    <unsecureMode>NA</unsecureMode>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Protocol" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <p>
                        <em>Protocol</em> is the protocol the device accepts over
                        the designated socket.  The string used to designate the 
                        protocol is device specific. 
                    </p>
                </xs:documentation>
                <xs:appinfo>
                    <requirement>Optional</requirement>
                    <lci>NA</lci>
                    <unsecureMode>NA</unsecureMode>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="SubinstrumentTelnet">
        <xs:annotation>
            <xs:documentation>
                <p>
                    <em>SubinstrumentTelnet</em> indicates that a telnet connection at the 
                    designated port may be used to control the subinstrument.
                </p>
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="Port" type="xs:integer" use="required">
            <xs:annotation>
                <xs:documentation>
                    <p>
                        <em>Port</em> is the TCPIP port of a telnet server that can be used
                        to control the device.  
                    </p>
                </xs:documentation>
                <xs:appinfo>
                    <requirement>RULE:</requirement>
                    <lci>NA</lci>
                    <unsecureMode>NA</unsecureMode>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Protocol" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <p>
                        <em>Protocol</em> is the protocol the device accepts over
                        the designated telnet connection.  The string used to designate the 
                        protocol is device specific. 
                    </p>
                </xs:documentation>
                <xs:appinfo>
                    <requirement>Optional</requirement>
                    <lci>NA</lci>
                    <unsecureMode>NA</unsecureMode>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="SubinstrumentVXI11">
        <xs:annotation>
            <xs:documentation>
                VXI-11 Device name associated with this subinstrument.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="Device" type="xs:string" use="optional">
            <xs:annotation >
                <xs:documentation>
                    <p>
                        VXI-11 device name of this server.  If absent, indicates <em>inst0</em>.
                    </p>
                </xs:documentation>
                <xs:appinfo>
                    <requirement>Optional</requirement>
                    <lci>NA</lci>
                    <unsecureMode>NA</unsecureMode>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

</xs:schema>
